/vendor/
/node_modules/
.env
.env.backup
/storage/*.key
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/logs/*
/.phpunit.result.cache
/public/hot
/public/storage